<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Tracking Info Update</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal" name="form">
        <div class="form-group">
            <label class="col-lg-3 control-label">Shipping Tags</label>
            <div class="col-lg-9">
                <select class="form-control" ng-model="content.tags" ng-options="item.status for item in shippingTags">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Shipping Flags</label>
            <div class="col-lg-9">
                <select class="form-control" ng-model="content.flags" ng-options="item.flags for item in shippingFlags" ng-disabled="disableFlags">
                </select>
            </div>
        </div>
        <div class="form-group" ng-if="showSignedBy">
            <label class="col-lg-3 control-label">Tracking Number</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" ng-model="content.tracking_number">
            </div>
        </div>
        <div class="form-group" ng-if="showSignedBy">
            <label class="col-lg-3 control-label">Signed By</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" ng-model="content.signed_by">
            </div>
        </div>
        <div class="form-group"  ng-if="showDeliveredBy">
            <label class="col-lg-3 control-label">Delivered By</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" ng-model="content.deliveredby">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Location</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" ng-model="content.location">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">City</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" ng-model="content.city">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">State</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" ng-model="content.state">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Zipcode</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" ng-model="content.zip">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Country</label>
            <div class="col-lg-9">
                <select class="form-control" ng-model="content.country" ng-options="item.name for item in countryArr">
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="isSaving" ng-click="saveEntry()"><i class="fa fa-spinner fa-spin" ng-if="isSaving"></i> Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>