<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{tracking.courier_name}}  | Order Number. {{tracking.orderNum}}  | Tracking Number. {{tracking.tracking_number}}</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li>
                <a ui-sref="app.shippingtracking">Shipping Tracking</a>
            </li>
            <li class="active">
                <strong>Logistic Tracking</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="shopee-border-delivery"></div>
                <div class="ibox-title">
                    <h3>Delivery</h3>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-3">
                            <address class="m-t-md" ng-if="tracking">
                                <strong>{{tracking.orderShipName}}</strong>
                                <br>
                                <br> {{tracking.orderShipAddress}}, {{tracking.orderShipCity}} {{tracking.orderShipSuburb}}
                                <br> {{tracking.orderShipState}}, {{tracking.orderShipCountry}} {{tracking.orderShipZipCode}}
                                <br>
                                <abbr title="Phone">P:</abbr> {{tracking.orderPhone}}
                            </address>
                        </div>
                        <div class="col-md-9 inspinia-timeline">
                            <div class="timeline-item" ng-repeat="item in tracking.checkpoints">
                                <div class="row">
                                    <div class="col-xs-3 date">
                                        <!-- <i class="fa fa-briefcase"></i -->
                                        <i>
                                            <img src="../images/status-info-receive.svg" width="20px" ng-if="item.tag =='InfoReceived'">
                                            <img src="../images/status-in-transit.svg" width="20px" ng-if="item.tag =='InTransit'">
                                            <img src="../images/status-out-for-delivery.svg" width="20px" ng-if="item.tag =='OutForDelivery'">
                                            <img src="../images/status-attemptfail.svg" width="20px" ng-if="item.tag =='FailedAttempt'">
                                            <img src="../images/status-delivered.svg" width="20px" ng-if="item.tag =='Delivered'">
                                            <img src="../images/status-exception.svg" width="20px" ng-if="item.tag =='Exception'">
                                            <img src="../images/status-expired.svg" width="20px" ng-if="item.tag =='Expired'">
                                            <img src="../images/status-pending.svg" width="20px" ng-if="item.tag =='Pending'">
                                        </i>
                                        <br/>
                                        <small class="text-navy" am-time-ago="item.checkpoint_time"></small>
                                    </div>
                                    <div class="col-xs-7 content no-top-border">
                                        <p class="m-b-xs"><strong>{{item.subtag_message}}</strong></p>
                                        <p>{{item.message}}</p>
                                        <small>{{item.checkpoint_time | date: 'short'}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
