<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{tracking.courier_name}}  | Order Number. {{tracking.orderNum}}  | Tracking Number. {{tracking.tracking_number}}</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li>
                <a ui-sref="app.shippingtracking">Shipping Tracking</a>
            </li>
            <li class="active">
                <strong>Logistic Tracking</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="ibox ">
                <div class="shopee-border-delivery"></div>
                <div class="ibox-content">
                    <div class="row m-b-lg">
                        <div class="col-lg-10">
                        </div>
                        <div class="col-lg-2">
                            <a class="btn btn-primary btn-sm btn-block" ng-click="updateTracking()"><i class="fa fa-pencil"></i> Update Info</a>
                            <a class="btn btn-primary btn-sm btn-block" ng-click="updateTracking()"><i class="fa fa-list"></i> Update Tracking</a>
                        </div>
                    </div>
                    <div class="client-detail">
                        <div class="full-height-scroll" full-scroll>
                            <strong>Order Number:</strong>
                            <p>{{tracking.orderNum}}</p>
                            <strong>Tracking Number:</strong>
                            <p>{{tracking.tracking_number}}</p>
                            <strong>Customer Name</strong>
                            <p>{{tracking.customer_name}}</p>
                            <strong>Courier</strong>
                            <p>{{tracking.courier_name}}</p>
                            <strong>Package Count</strong>
                            <p>{{tracking.shipment_package_count}}</p>
                            <strong>Pickup Address</strong>
                            <p>{{tracking.pickUpLocation}} {{tracking.pickUpCity}} {{tracking.pickUpState}} {{tracking.pickUpZip}} {{tracking.pickUpCountry}}</p>
                            <strong>Pickup Note</strong>
                            <p>{{tracking.pickupNote}}</p>
                            <hr/>
                            <strong>Logistic Tracking</strong>
                            <div id="vertical-timeline" class="vertical-container dark-timeline">
                                <div class="vertical-timeline-block" ng-repeat="item in tracking.checkpoints">
                                    <div class="vertical-timeline-icon gray-bg">
                                        <img src="../images/status-info-receive.svg" width="35px" ng-if="item.tag =='InfoReceived'">
                                        <img src="../images/status-in-transit.svg" width="35px" ng-if="item.tag =='InTransit'">
                                        <img src="../images/status-out-for-delivery.svg" width="35px" ng-if="item.tag =='OutForDelivery'">
                                        <img src="../images/status-attemptfail.svg" width="35px" ng-if="item.tag =='FailedAttempt'">
                                        <img src="../images/status-delivered.svg" width="35px" ng-if="item.tag =='Delivered'">
                                        <img src="../images/status-exception.svg" width="35px" ng-if="item.tag =='Exception'">
                                        <img src="../images/status-expired.svg" width="35px" ng-if="item.tag =='Expired'">
                                        <img src="../images/status-pending.svg" width="35px" ng-if="item.tag =='Pending'">
                                    </div>
                                    <div class="vertical-timeline-content">
                                        <p>{{item.message}}</p>
                                        <span class="vertical-date small text-muted"> {{item.checkpoint_time | date: 'short'}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>