<div class="wrapper wrapper-content">
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Pre-Transit</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">386,200</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>In-Transit</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">80,800</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Out for Delivery</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">80,800</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Delivered</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">80,800</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Return to Sender</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">80,800</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Failed</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">80,800</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Shipping Lists </h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">
                                <div data-toggle="buttons" class="btn-group">
                                    <label class="btn btn-sm btn-white active">
                                        <input type="radio" id="option1" name="options"> Day </label>
                                    <label class="btn btn-sm btn-white">
                                        <input type="radio" id="option2" name="options"> Week </label>
                                    <label class="btn btn-sm btn-white">
                                        <input type="radio" id="option3" name="options"> Month </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table ng-table="tableParams" class="table table-striped">
                                <tr ng-repeat="item in $data">
                                    <td title="'#'">{{$index + 1}}</td>
                                    <td title="'Order No.'">{{item.orderNum}}</td>
                                    <td title="'Tracking No.'">{{item.tracking_number}}</td>
                                    <td title="'Courier'" sortable="'courier_name'">{{item.courier_name}}</td>
                                    <td title="'Customer'" sortable="'customer_name'">{{item.customer_name}}</td>
                                    <td title="'Status'">{{item.checkpoint.tag}}</td>
                                    <td title="'Date'" sortable="'created_at'">{{item.created_at}}</td>
                                    <td title="'Action'" class="pull-right">
                                        <a class="btn btn-xs btn-default" uib-tooltip="Track" ng-click="trackOrder(item)">
                                            <i class="fa fa-list"></i>
                                        </a>
                                        <a class="btn btn-xs btn-default" uib-tooltip="Update" ng-click="viewOrderDetails(item)">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn btn-xs btn-danger" uib-tooltip="Delete" ng-click="deleteSelected(item)">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
