<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Tracking Info Update</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal" name="form">
        <div class="form-group">
            <label class="col-lg-2 control-label">Tracking Number</label>
            <div class="col-lg-10">
                <input type="text" placeholder="Name" class="form-control" ng-model="category.name">
            </div>
        </div>
                <div class="form-group">
            <label class="col-lg-2 control-label">Customer Name</label>
            <div class="col-lg-10">
                <input type="text" placeholder="Name" class="form-control" ng-model="category.name" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Pickup Location</label>
            <div class="col-lg-10">
                <input type="text" placeholder="Name" class="form-control" ng-model="category.name" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Pickup City</label>
            <div class="col-lg-10">
                <input type="text" placeholder="Name" class="form-control" ng-model="category.name" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Pickup State</label>
            <div class="col-lg-10">
                <input type="text" placeholder="Name" class="form-control" ng-model="category.name" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Pickup Location</label>
            <div class="col-lg-10">
                <input type="text" placeholder="Name" class="form-control" ng-model="category.name" disabled>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="isSaving"><i class="fa fa-spinner fa-spin" ng-if="isSaving"></i> Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>