<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle" src="images/profile_small.jpg" />
                    <a uib-dropdown-toggle href>
                        <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{currentUser.firstname}} {{currentUser.lastname}}</strong>
                             </span>
                        <span class="text-muted text-xs block">{{currentUser.username}} <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="app.profile">Profile</a></li>
                        <li><a ui-sref="app.contacts">Contacts</a></li>
                        <li><a ui-sref="mailbox.inbox">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="login">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <span class="fa fa-shopping-cart"></span>
                </div>
            </li>
            <li ng-class="{active: $state.includes('dashboards')}">
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'DASHBOARD' }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dashboards')}">
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_1">{{ 'DASHBOARD' }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_4_1">{{ 'SHIPPING DASHBOARD' }}</a></li>
                    <!-- <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_3">{{ 'DASHBOARD' }} v.3</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_2">{{ 'DASHBOARD' }} v.4</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_5">{{ 'DASHBOARD' }} v.5 </a></li> -->
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.category"><i class="fa fa-list-ul"></i> <span class="nav-label">{{ 'CATEGORY' }}</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.brands"><i class="fa fa-certificate"></i> <span class="nav-label">{{ 'BRANDS' }}</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.banks"><i class="fa fa-building"></i> <span class="nav-label">{{ 'BANKS' }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.courier"><i class="fa fa-truck"></i> <span class="nav-label">{{ 'SHIPPING COURIER' }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.paymentprovider"><i class="fa fa-credit-card"></i> <span class="nav-label">{{ 'PAYMENT PROVIDERS' }}</span></a>
            </li>
            <li ng-class="{active: $state.includes('sellers')}">
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label">{{ 'SELLERS' }}</span><span class="label label-warning pull-right">{{sellerInfo.sellers}} / {{sellerInfo.applicants}}</span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('sellers')}">
                    <li ui-sref-active="active"><a ui-sref="app.sellers">List</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.sellers_eval">Evaluation</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.buyers"><i class="fa fa-user-circle"></i> <span class="nav-label">{{ 'BUYERS / USERS' }}</span></a>
            </li>
            <li ng-class="{active: $state.includes('officialshops')}">
                <a href="#"><i class="fa fa-mobile"></i> <span class="nav-label">{{ 'OFFICIAL SHOPS' }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('officialshops')}">
                    <li ui-sref-active="active"><a ui-sref="app.officialshops">List</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.officialshops_eval">Evaluation</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('orders')}">
                <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">{{ 'ORDERS' }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('orders')}">
                    <li ui-sref-active="active"><a ui-sref="app.orders">ORDER LIST</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.orders">ORDER RETURNS</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.shippingtracking">SHIPMENT TRACKING</a></li>
                </ul>
            </li>
            <!-- <li ui-sref-active="active">
                <a ui-sref="widgets"><i class="fa fa-money"></i> <span class="nav-label">{{ 'PAYMENTS' }}</span></a>
            </li> -->
            <li ng-class="{active: $state.includes('mobile')}">
                <a href="#"><i class="fa fa-mobile"></i> <span class="nav-label">{{ 'MOBILE CONTENT' }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('mobile')}">
                    <li ui-sref-active="active"><a ui-sref="mobile.banners">Mobile Banners</a></li>
                    <li ui-sref-active="active"><a ui-sref="mobile.contents">Mobile Contents</a></li>
                </ul>
            </li>
            <!-- <li ng-class="{active: $state.includes('charts')}">
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">{{ 'INSIGHTS' }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('charts')}">
                    <li ui-sref-active="active"><a ui-sref="charts.flot_chart">Flot Charts</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.rickshaw_chart">Rickshaw Charts</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.c3charts">c3 charts</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.chartjs_chart">Chart.js</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.chartist_chart">Chartist</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.peity_chart">Peity Charts</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.sparkline_chart">Sparkline Charts</a></li>
                </ul>
            </li> -->
            <li ui-sref-active="active">
                <a ui-sref="app.newsletters"><i class="fa fa-file"></i> <span class="nav-label">{{ 'NEWSLETTER / UPDATES' }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.pushnotif"><i class="fa fa-bell"></i> <span class="nav-label">{{ 'NOTIFICATIONS' }}</span></a>
            </li>
            <li ng-class="{active: $state.includes('help')}">
                <a href="#"><i class="fa fa-question-circle"></i> <span class="nav-label">{{ 'HELP CENTRE' }} </span><span class="label label-warning pull-right">24</span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('help')}">
                    <li ui-sref-active="active"><a ui-sref="help.helpcentre">Help Centre</a></li>
                    <li ui-sref-active="active"><a ui-sref="help.issuetracker">Issue Tracker <span class="label label-warning pull-right">24</span></a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.activitystream"><i class="fa fa-rss-square"></i> <span class="nav-label">{{ 'ACTIVITY STREAM' }}</span></a>
            </li>
        </ul>
    </div>
</nav>