<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name"><span class="fa fa-shopping-cart text-navy"></span></h1>
        </div>
        <h3>Welcome to Shoppy</h3>
        <form class="m-t" role="form" ng-submit="loginApp()" novalidate>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="username" placeholder="Username" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="password" placeholder="Password" required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            <a ui-sref="forgot_password"><small>Forgot password?</small></a>
        </form>
        <p class="m-t"> <small>Company name &copy; 2014</small> </p>
    </div>
</div>