<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Notifications</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li class="active">
                <strong>Notifications</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight blog">
    <div class="row">
        <div class="col-sm-9 m-b-xs">
            <div data-toggle="buttons">
                <a class="btn btn-sm btn-primary" ng-click="composeNewsletter()"> Compose </a>
                <a class="btn btn-sm btn-info" ng-click="refresh()"> Refresh </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4" ng-repeat="item in notifications">
            <div class="ibox">
                <div class="ibox-content" ng-click="viewNotif(item.id)">
                    <a ui-sref="app.pushnotifdetail({notifId: item.id})" class="btn-link">
                        <h2>{{item.headings.en}}</h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Adam Novak</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> {{item.sentAt | date: 'dd-MMM-yyyy'}}</span>
                    </div>
                    <p>{{item.contents.en}}</p>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <a href="" ng-click="deleteNotif(item.id,$event)" class="btn btn-danger btn-xs">Delete</a> -->
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <div> <i class="fa fa-comments-o"> </i> {{item.remaining}} delivered </div>
                                <i class="fa fa-eye"> </i> {{item.successful}} viewed
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>