<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Push Notifications</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li class="active">
                <strong>Push Notifications</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label>Title:</label>
                <input type="text" class="form-control" ng-model="notif.title">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label>Tag:</label>
                <select class="form-control" ng-model="notif.tag">
                    <option value="promotions">Promotions</option>
                    <option value="updates">InApp Updates</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label>Content:</label>
                <div class="ibox float-e-margins">
                    <div class="ibox-content no-padding">
                        <div summernote class="summernote" ng-model="notif.content">
                            <h3>Hello Jonathan! </h3> dummy text of the printing and typesetting industry. <strong>Lorem Ipsum has been the industry's</strong> standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>
                 <div class="mail-body text-right tooltip-demo">
                    <a href="" ng-click="sendNotif()" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Send"><i class="fa fa-reply" ng-disabled="isSending"></i> Send</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>