<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Buyers / Users</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li class="active">
                <strong>Buyers / Users</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Buyers / Users</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">
                                <div data-toggle="buttons">
                                    <a class="btn btn-sm btn-primary" ng-click="addSeller()"> Add </a>
                                    <a class="btn btn-sm btn-info" ng-click="refresh()"> Refresh </a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" placeholder="Search" class="input-sm form-control" ng-model="dataSearch" ng-keypress="($event.which === 13)?refresh():0" ng-change="(dataSearch.length < 1)?refresh():0">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary" ng-click="refresh()"> Go!</button> 
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table ng-table="tableParams" class="table table-striped">
                                <tr ng-repeat="seller in $data">
                                    <td title="'Status'" header-class="text-left">
                                        <!-- <small ng-if="seller.isVerify == 0">Pending...</small> -->
                                        <span class="label label-warning" ng-if="seller.isVerify == 0">Pending...</span>
                                        <span class="label label-primary" ng-if="seller.isVerify == 1">Completed</span>
                                    </td>
                                    <td title="'Firstname'" sortable="'firstname'" class="text-left" header-class="'text-left'">{{seller.firstname}}</td>
                                    <td title="'Lastname'" sortable="'lastname'">{{seller.lastname}}</td>
                                    <td title="'Username'" sortable="'username'">{{seller.username}}</td>
                                    <td title="'Email Address'" sortable="'email'">{{seller.email}}</td>
                                    <td title="''" class="pull-right">
                                        <a class="btn btn-xs btn-default" ng-click="updateCourier(user)">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>