<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Orders</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li class="active">
                <strong>Orders</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Orders</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12 m-b-xs">
                                <div data-toggle="buttons">
                                    <a class="btn btn-sm btn-info" ng-click="refresh()"> Refresh </a>
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-default" ng-click="filterAction('all')" ng-class="{'active': radioModel1 == 'all'}"> All &nbsp; <span class="label label-danger">{{ordersCopy.length}}</span> </a>
                                        <a class="btn btn-sm btn-default" ng-click="filterAction(slide.id)" ng-class="{'active': slide.id == radioModel1}" ng-repeat="slide in slides"> {{slide.name}} &nbsp; <span class="label label-danger">{{slide.count}}</span> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label" for="order_id">ORDER ID</label>
                                    <input type="text" id="order_id" name="order_id" value="" placeholder="ORDER ID" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label" for="trackingNum">Tracking Number</label>
                                    <input type="text" id="trackingNum" name="trackingNum" value="" placeholder="Tracking Number" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="status">Status</label>
                                    <select name="status" id="status" class="form-control">
                                        <option value="slide.id" selected="" ng-repeat="slide in slides">{{slide.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table ng-table="tableParams" class="table table-striped">
                                <tbody>
                                    <tr ng-repeat="order in $data">
                                        <!-- <td title="'Buyer'" header-class="'text-left'">{{order.orderBy}}</td> -->
                                        <td title="'BATCH ID'" class="text-center">{{order.batchID}}</td>
                                        <td title="'ORDER ID'" class="text-center">{{order.orderNum}}</td>
                                        <td title="'STATUS'" class="text-center">
                                            <span class="label label-success">{{order.status}}</span>
                                        </td>
                                        <td title="'Amount'" class="text-center">{{order.orderAmt | number : 2}}</td>
                                        <td title="'Payment Method'" class="text-center">{{order.modeofpayment | uppercase}}</td>
                                        <!-- <td title="'Order Time'" class="text-center">{{order.orderDateTime}}</td> -->
                                        <td title="'Order Tracking #'" class="text-center">{{order.orderTrackingNumber}}</td>
                                        <!-- <td title="'SELLER / SHOP'" class="text-center">{{order.sellerName | date: 'MMM/dd/yyyy'}}</td> -->
                                        <td title="''" class="pull-right">
                                            <a class="btn btn-xs btn-info" uib-tooltip="Paid Order" ng-click="paidOrder(order)"><i class="fa fa-money"></i></a>
                                            <a class="btn btn-xs btn-info" uib-tooltip="Shipping Information" ng-click="viewOrderShippingInfo(order)"><i class="fa fa-truck"></i></a>
                                            <a class="btn btn-xs btn-info" uib-tooltip="Order Details" ng-click="viewOrder(order)"><i class="fa fa-newspaper-o"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>