<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Shipping Information</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Timeline</h5>
            </div>
            <div class="ibox-content inspinia-timeline">

                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-truck"></i>
                            6:00 am
                            <br/>
                            <small class="text-navy">2 hour ago</small>
                        </div>
                        <div class="col-xs-7 content no-top-border">
                            <p class="m-b-xs"><strong>Meeting</strong></p>

                            <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products.</p>

                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-truck"></i>
                            7:00 am
                            <br/>
                            <small class="text-navy">3 hour ago</small>
                        </div>
                        <div class="col-xs-7 content">
                            <p class="m-b-xs"><strong>Send documents to Mike</strong></p>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-truck"></i>
                            8:00 am
                            <br/>
                        </div>
                        <div class="col-xs-7 content">
                            <p class="m-b-xs"><strong>Coffee Break</strong></p>

                            <p>
                                Go to shop and find some products.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-cube"></i>
                            11:00 am
                            <br/>
                            <small class="text-navy">21 hour ago</small>
                        </div>
                        <div class="col-xs-7 content">
                            <p class="m-b-xs"><strong>Phone with Jeronimo</strong></p>

                            <p>
                                Lorem Ipsum has been the industry's standard dummy text ever since.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
</div>