<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Order Details</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a ui-sref="app.orders">Orders</a>
            </li>
            <li class="active">
                <strong>Order Details</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-9">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="pull-right">(<strong>5</strong>) items</span>
                    <h5>Items in your cart</h5>
                </div>
                <div class="ibox-content" ng-repeat="item in order.details">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">
                            <tbody>
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation">
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                        <a href="#" class="text-navy">
                                           {{item.detailName}}
                                        </a>
                                    </h3>
                                        <p class="small">
                                            {{item.productDesc}}
                                        </p>
                                        <!-- <dl class="small m-b-none">
                                            <dt>Description lists</dt>
                                            <dd>A description list is perfect for defining terms.</dd>
                                        </dl> -->
                                        <div class="m-t-sm">
                                            <a href="#" class="text-navy"><i class="fa fa-truck"></i> {{item.courier_name}} | {{item.shippingFee | number :2}}</a>
                                        </div>
                                    </td>
                                    <td>
                                        {{item.detailPrice | number: 2}}
                                        <!-- <s class="small text-muted">$230,00</s> -->
                                    </td>
                                    <td width="65">
                                        <input type="text" class="form-control" value="{{item.detailQty}}">
                                    </td>
                                    <td>
                                        <h4>
                                        {{(item.detailPrice * item.detailQty) | number: 2}}
                                    </h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="pull-right">
                        <button class="btn btn-danger"><i class="fa fa fa-comments"></i> Contact Buyer</button>
                        <button class="btn btn-danger"><i class="fa fa fa-comments"></i> Contact Seller</button>
                    </div>
                    <button class="btn btn-white"><i class="fa fa-star-o"></i> View Buyer Rating</button>
                    <button class="btn btn-white"><i class="fa fa-star-o"></i> View Seller Rating</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Cart Summary</h5>
                </div>
                <div class="ibox-content">
                    <h3 class="font-bold">
                        Order Total: <span class="text-danger">{{order.orderAmt | number: 2}}</span>
                    </h3>
                    <hr/>
                    <span class="text-muted small">
                                *For United States, France and Germany applicable sales tax will be applied
                            </span>
                    <div class="m-t-sm">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
                            <a href="#" class="btn btn-white btn-sm"> Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5><i class="fa fa-map-marker"></i> Delivery Information</h5>
                </div>
                <div class="ibox-content text-left">
                    <p class="font-bold">{{order.orderShipName}}</p>
                    <p class="font-bold">{{order.orderPhone}}</p>
                    <p class="text-wrap">
                        {{order.orderShipAddress}} {{order.orderShipSuburb}}
                        {{order.orderShipCity}} {{order.orderShipState}}
                        {{order.orderShipCountry}} {{order.orderShipZipCode}}
                    </p>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5><i class="fa fa-money"></i>  Payment Method</h5>
                </div>
                <div class="ibox-content text-left">
                    <h3><i class="fa fa-shield"></i>  {{order.modeofpayment | uppercase}}</h3>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5> <i class="fa fa-truck"></i> Shipping Information</h5>
                </div>
                <div class="ibox-content">
                    <p class="font-bold">
                        TRACKING NUMBER: <a href="#" class="primary">{{order.orderTrackingNumber}} </a>
                    </p>
                    <hr/>
                    <div class="inspinia-timeline">
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-briefcase"></i> 6:00 am
                                    <br/>
                                    <small class="text-navy">2 hour ago</small>
                                </div>
                                <div class="col-xs-7 content no-top-border">
                                    <p class="m-b-xs"><strong>Meeting</strong></p>
                                    <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
                                    </p>
                                    <p>
                                        <line-chart data="main.LineChart.data" options="main.LineChart.options"></line-chart>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-file-text"></i> 7:00 am
                                    <br/>
                                    <small class="text-navy">3 hour ago</small>
                                </div>
                                <div class="col-xs-7 content">
                                    <p class="m-b-xs"><strong>Send documents to Mike</strong></p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-coffee"></i> 8:00 am
                                    <br/>
                                </div>
                                <div class="col-xs-7 content">
                                    <p class="m-b-xs"><strong>Coffee Break</strong></p>
                                    <p>
                                        Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-phone"></i> 11:00 am
                                    <br/>
                                    <small class="text-navy">21 hour ago</small>
                                </div>
                                <div class="col-xs-7 content">
                                    <p class="m-b-xs"><strong>Phone with Jeronimo</strong></p>
                                    <p>
                                        Lorem Ipsum has been the industry's standard dummy text ever since.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-user-md"></i> 09:00 pm
                                    <br/>
                                    <small>21 hour ago</small>
                                </div>
                                <div class="col-xs-7 content">
                                    <p class="m-b-xs"><strong>Go to the doctor dr Smith</strong></p>
                                    <p>
                                        Find some issue and go to doctor.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-comments"></i> 12:50 pm
                                    <br/>
                                    <small class="text-navy">48 hour ago</small>
                                </div>
                                <div class="col-xs-7 content">
                                    <p class="m-b-xs"><strong>Chat with Monica and Sandra</strong></p>
                                    <p>
                                        Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>