<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Contact Applicant</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Subject:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="email.subject" ng-disabled="isLoading">
            </div>
        </div>
        <div class="h-200">
            <div class="form-group">
                <label class="col-sm-2 control-label">Content:</label>
                <div class="col-sm-10">
                    <div summernote class="summernote" ng-model="email.message" ng-disabled="isLoading">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="isLoading" ng-click="sendEmail()"><i class="fa fa-spinner fa-spin" ng-if="isSending"></i>Send</button>
    <button class="btn btn-warning" type="button" ng-disabled="isLoading"ng-click="cancel()">Cancel</button>
</div>