<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Official Shops</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li class="active">
                <strong>Official Shops</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Applicants</h3>
                        <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-model="applicantsList" ui-sortable-update="applicantsOnUpdated" ui-sortable-stop="applicantsOnReceived">
                            <li class="{{task.evaluation.statusClass}}-element app" ng-repeat="task in applicantsList" ng-class="{'not-sortable': task.shop.name == null}">
                                <div ng-bind-html="task.evaluation.content"></div>
                                <div class="agile-detail">
                                    <a href="" class="pull-right btn btn-xs btn-white" ng-disabled="task.shop.name == null" ng-click="updateApplication(task)">Update</a>
                                    <a href="" class="pull-right btn btn-xs btn-white" ng-click="contactApplicant(task)">Contact</a>
                                    <i class="fa fa-clock-o"></i> {{task.evaluation.date | amDateFormat:'MM-DD-YYYY HH:mm:ss'}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>In Review</h3>
                        <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-model="inReviewList" ui-sortable-update="inReviewOnUpdate" ui-sortable-stop="inReviewOnReceived">
                            <li class="{{task.evaluation.statusClass}}-element app" ng-repeat="task in inReviewList">
                                <div ng-bind-html="task.evaluation.content"></div>
                                <div class="agile-detail">
                                    <a href="" class="pull-right btn btn-xs btn-white" ng-click="updateApplication(task)">Update</a>
                                    <a href="" class="pull-right btn btn-xs btn-white" ng-click="contactApplicant(task)">Contact</a>
                                    <i class="fa fa-clock-o"></i> {{task.evaluation.date | amDateFormat:'MM-DD-YYYY HH:mm:ss'}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>For Approval</h3>
                        <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-model="inProgressList" ui-sortable-update="inProgressOnReceived">
                            <li class="{{task.evaluation.statusClass}}-element app" ng-repeat="task in inProgressList">
                                <div ng-bind-html="task.evaluation.content"></div>
                                <div class="agile-detail">
                                    <a href="" class="pull-right btn btn-xs btn-white" ng-click="updateApplication(task)">Update</a>
                                    <a href="" class="pull-right btn btn-xs btn-white" ng-click="contactApplicant(task)">Contact</a>
                                    <i class="fa fa-clock-o"></i> {{task.evaluation.date | amDateFormat:'MM-DD-YYYY HH:mm:ss'}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Completed</h3>
                        <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-model="completedList" ui-sortable-update="completedOnReceived">
                            <li class="{{task.evaluation.statusClass}}-element app not-sortable" ng-repeat="task in completedList">
                                <div ng-bind-html="task.evaluation.content"></div>
                                <div class="agile-detail">
                                    <a href="" class="pull-right btn btn-xs btn-white" ng-click="viewApplication(task)">View</a>
                                    <a href="" class="pull-right btn btn-xs btn-white" ng-click="contactApplicant(task)">Contact</a>
                                    <i class="fa fa-clock-o"></i> {{task.evaluation.date | amDateFormat:'MM-DD-YYYY HH:mm:ss'}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>