<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Shop Detail</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-b-md">
                <h2>Shop Application - {{shop.shop_name}}</h2>
            </div>
            <dl class="dl-horizontal">
                <dt>Status:</dt>
                <dd ng-if="shop.evaluation">
                    <span class="label label-{{shop.evaluation.statusClass}}">{{shop.evaluation.eval_categoryID}}</span>
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <dl class="dl-horizontal">
                <dt>Applied by:</dt>
                <dd>{{shop.owner_fname}} {{shop.owner_lname}}</dd>
                <dt>Client:</dt>
                <dd><a href="" class="text-navy"> {{shop.sellerName}}</a> </dd>
            </dl>
        </div>
        <div class="col-lg-7" id="cluster_info">
            <dl class="dl-horizontal">
                <dt>Last Updated:</dt>
                <dd>{{shop.evaluation.date}}</dd>
                <dt>Applied:</dt>
                <dd> {{shop.shop_application_date}} </dd>
            </dl>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">REVIEWER</label>
                <label class="form-control">{{currentUser.firstname}} {{currentUser.lastname}}</label>
            </div>
        </div>
    </div>
    <div class="row m-t-sm">
        <div class="col-lg-12">
            <div class="panel blank-panel">
                <uib-tabset>
                    <uib-tab index="0" heading="Shop Information">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2><strong>{{shop.shop_name}}</strong></h2>
                                    <h5>Owner First Name</h5>
                                    <p>{{shop.owner_fname}}</p>
                                    <h5>Owner Middle Name</h5>
                                    <p>{{shop.owner_mname}}</p>
                                    <h5>Owner Last Name</h5>
                                    <p>{{shop.owner_lname}}</p>
                                    <h5>Owner Email</h5>
                                    <p>{{shop.owner_email}}</p>
                                </div>
                                <div class="col-md-6">
                                    <h5>Shop Email</h5>
                                    <p>{{shop.shop_email}}</p>
                                    <h5>Shop Mobile No.</h5>
                                    <p>{{shop.shop_mobileno}}</p>
                                    <h5>Shop Website</h5>
                                    <p>{{shop.shop_website}}</p>
                                    <h5>Shop Instagram</h5>
                                    <p ng-if="shop.shop_instagram != null">{{shop.shop_instagram}}</p>
                                    <p ng-if="shop.shop_instagram == null" class="text-danger"><b>NO INSTAGRAM</b></p>
                                    <h5>Shop Facebook</h5>
                                    <p ng-if="shop.shop_instagram != null">{{shop.shop_facebook}}</p>
                                    <p ng-if="shop.shop_instagram == null" class="text-danger"><b>NO FACEBOOK</b></p>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Legal Information">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="ibox-content">
                                        <h3>Certificate of Registration File</h3>
                                        <div class="file-box">
                                            <div class="file" ng-if="shop.shop_cor_file != null">
                                                <span class="corner"></span>
                                                <div class="icon">
                                                    <i class="fa fa-file"></i>
                                                </div>
                                                <div class="file-name">
                                                    <a href="">{{CORFilename}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="ibox-content">
                                        <h3>Business Distribution License File</h3>
                                        <div class="file-box">
                                            <div class="file" ng-if="shop.shop_distributor_license != null">
                                                <span class="corner"></span>
                                                <div class="icon">
                                                    <i class="fa fa-file"></i>
                                                </div>
                                                <div class="file-name">
                                                    <a href="">{{LicenseFilename}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="ibox-content">
                                        <h3>Business Logo</h3>
                                        <div class="file-box">
                                            <div class="file" ng-if="shop.shop_official_logo != null">
                                                <span class="corner"></span>
                                                <div class="image"><img alt="image" class="img-responsive" ng-src="{{shop.shop_official_logo}}"></div>
                                                    <div class="file-name"><a href="">{{LogoFile}}</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </uib-tab>
                    <uib-tab index="2" heading="Activity">
                        <div class="ibox-content inspinia-timeline">
                            <div class="timeline-item" ng-repeat="item in shop.activity">
                                <div class="row">
                                    <div class="col-xs-3 date">
                                        <i class="fa fa-file-text"></i>
                                        {{item.date | amDateFormat:'MMM-DD-YYYY hh:mm:ss a'}}
                                        <br />
                                        <small class="text-navy"><span am-time-ago="item.date"></span></small>
                                    </div>
                                    <div class="col-xs-7 content no-top-border">
                                        <p class="m-b-xs"><strong class="text-{{item.statusClass}}">{{item.eval_categoryID}}</strong></p>
                                        <p ng-bind-html="item.content"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-white" type="button" ng-click="contactApplicant()">Contact Applicant</button>
    <button class="btn btn-primary" type="button" ng-click="reviewApplication()" ng-if="shop.evaluation.eval_categoryID == 'APPLICANTS'">Review</button>
    <button class="btn btn-primary" type="button" ng-click="forApprovalApplication()" ng-if="shop.evaluation.eval_categoryID == 'IN-REVIEW'">Check for Approval</button>
    <button class="btn btn-primary" type="button" ng-click="approveApplication()" ng-if="shop.evaluation.eval_categoryID == 'FOR-APPROVAL'">Approve</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>