<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Official Shops</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li class="active">
                <strong>Official Shops</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Official Shops</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">
                                <div data-toggle="buttons">
                                    <a class="btn btn-sm btn-info"> Refresh </a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" placeholder="Search" class="input-sm form-control" ng-model="dataSearch">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> 
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table ng-table="tableParams" class="table table-striped">
                                <tr ng-repeat="item in $data">
                                    <td title="'#'" sortable="'image'">{{$index + 1}}</td>
                                    <td title="'Seller '" sortable="'seller'">{{item.sellerName}}</td>
                                    <td title="'Owner Name '" sortable="'seller'">{{item.owner_fname}} {{item.owner_lname}}</td>
                                    <td title="'Shop Phone '" sortable="'seller'">{{item.shop_mobileno}}</td>
                                    <td title="'Shop Name '" sortable="'seller'">{{item.shop_name}}</td>
                                    <td title="'Evaluated '" sortable="'seller'">
                                        <pie-chart data="main.PieChart5.data" options="main.PieChart5.options"></pie-chart>
                                    </td>
                                    <td title="'Progress '" sortable="'seller'">
                                        20%
                                    </td>
                                    <td title="'Date '" sortable="'seller'">{{item.shop_application_date | amDateFormat:'MM/DD/YYYY HH:mm:ss'}}</td>
                                    <td title="''" class="pull-right">
                                        <a class="btn btn-xs btn-default" uib-tooltip="Update" ui-sref="app.officialshops_info({shopId:item.official_shop_id})">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a class="btn btn-xs btn-danger" uib-tooltip="Delete">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>