<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Official Shops</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li>
                <a ui-sref="app.officialshops">Official Shops</a>
            </li>
            <li class="active">
                <strong>{{shop.shop_name}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="m-b-md">
                        <h2>Shop Application - {{shop.shop_name}}</h2>
                    </div>
                    <dl class="dl-horizontal">
                        <dt>Status:</dt>
                        <dd><span class="label label-primary">Active</span></dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <dl class="dl-horizontal">
                        <dt>Applied by:</dt>
                        <dd>{{shop.owner_fname}} {{shop.owner_lname}}</dd>
                        <dt>Client:</dt>
                        <dd><a href="" class="text-navy"> {{shop.sellerName}}</a> </dd>
                    </dl>
                </div>
                <div class="col-lg-7" id="cluster_info">
                    <dl class="dl-horizontal">
                        <dt>Last Updated:</dt>
                        <dd>16.08.2014 12:15:57</dd>
                        <dt>Applied:</dt>
                        <dd> {{shop.shop_application_date}} </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <dl class="dl-horizontal">
                        <dt>Completed:</dt>
                        <dd>
                            <div class="progress progress-striped active m-b-sm">
                                <div style="width: 60%;" class="progress-bar"></div>
                            </div>
                            <small>Project completed in <strong>60%</strong>. Remaining close the project, sign a contract and invoice.</small>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row m-t-sm">
                <div class="col-lg-12">
                    <div class="panel blank-panel">
                        <uib-tabset>
                            <uib-tab index="0" heading="Shop Information">
                                <div class="panel-body">
                                    <div class="ibox-content profile-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h2><strong>{{shop.shop_name}}</strong></h2>
                                                <h5>Owner First Name</h5>
                                                <p>{{shop.owner_fname}}</p>
                                                <h5>Owner Middle Name</h5>
                                                <p>{{shop.owner_mname}}</p>
                                                <h5>Owner Last Name</h5>
                                                <p>{{shop.owner_lname}}</p>
                                                <h5>Owner Email</h5>
                                                <p>{{shop.owner_email}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <h5>Shop Email</h5>
                                                <p>{{shop.shop_email}}</p>
                                                <h5>Shop Mobile No.</h5>
                                                <p>{{shop.shop_mobileno}}</p>
                                                <h5>Shop Website</h5>
                                                <p>{{shop.shop_website}}</p>
                                                <h5>Shop Instagram</h5>
                                                <p>{{shop.shop_instagram}}</p>
                                                <h5>Shop Facebook</h5>
                                                <p>{{shop.shop_facebook}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="ibox-content">
                                                    <h2>Certificate of Registration File</h2>
                                                    <div class="file-box">
                                                        <div class="file" ng-if="shop.shop_cor_file != null">
                                                            <span class="corner"></span>
                                                            <div class="icon">
                                                                <i class="fa fa-file"></i>
                                                            </div>
                                                            <div class="file-name">
                                                                <a href="">{{CORFilename}}</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="ibox-content">
                                                    <h2>Business Distribution License File</h2>
                                                    <div class="file-box">
                                                        <div class="file" ng-if="shop.shop_distributor_license != null">
                                                            <span class="corner"></span>
                                                            <div class="icon">
                                                                <i class="fa fa-file"></i>
                                                            </div>
                                                            <div class="file-name">
                                                                <a href="">{{LicenseFilename}}</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="ibox-content">
                                                    <h2>Business Logo</h2>
                                                    <div class="file-box">
                                                        <div class="file" ng-if="shop.shop_official_logo != null">
                                                            <span class="corner"></span>
                                                            <div class="image">
                                                                <img alt="image" class="img-responsive" ng-src="{{shop.shop_official_logo}}">
                                                            </div>
                                                                <div class="file-name">
                                                                    <a href="">{{LogoFile}}</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>