<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Users/Buyers</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">386,200</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Sellers</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">80,800</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Seller Applications</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">80,800</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Orders</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">80,800</h1>
                </div>
            </div>
        </div>
    </div>
</div>