<!DOCTYPE html>
<html ng-app="starter">

<head>
    <!-- <base href="/"> -->
    <meta charset="UTF-8">
    <title>Angular App</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="icon" type="image/ico" href="../images/favicon.ico">
    <!-- LIBRARY -->
    <!-- build:css css/main.min.css -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="bower_components/animate.css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="bower_components/angular-toastr/dist/angular-toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="bower_components/ng-table-bundle/ng-table.min.css" rel="stylesheet" type="text/css" />
    <link href="bower_components/ng-dialog/css/ngDialog.min.css" rel="stylesheet" type="text/css">
    <link href="bower_components/ng-dialog/css/ngDialog-theme-default.min.css" rel="stylesheet" type="text/css">
    <link href="bower_components/ng-tags-input/ng-tags-input.min.css" rel="stylesheet" type="text/css" />
    <link href="bower_components/ng-tags-input/ng-tags-input.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="bower_components/angular-ui-select/dist/select.min.css" rel="stylesheet" type="text/css" />
    <!--  -->
    <link href="scripts/plugins/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" type="text/css" />
    <link href="styles/plugins/iCheck/custom.css" rel="stylesheet" type="text/css" />
    <link href="styles/plugins/steps/jquery.steps.css" rel="stylesheet" type="text/css" />
    <link href="styles/plugins/summernote/summernote.css" rel="stylesheet" type="text/css" />
    <!-- <link href="styles/plugins/summernote/summernote-bs3.css" rel="stylesheet" type="text/css" /> -->
    <link href="styles/plugins/dropzone/dropzone.css" rel="stylesheet" type="text/css" />
    <link href="styles/plugins/dropzone/basic.css" rel="stylesheet" type="text/css" />

    <!--  -->
    <link id="loadBefore" href="styles/style.css" rel="stylesheet" type="text/css" />
    <!-- endbuild -->
    <!--  -->

</head>

<body ng-controller="MainCtrl as main" class="{{$state.current.data.specialClass}}">
    <!--
        *
        *
        *
        Angular View
        *
        *
        *
        -->
    <div ui-view></div>
    <!--
        *
        *
        *
        Angular View
        *
        *
        *
        -->
    <!-- ./wrapper -->
    <!-- build:js js/main.min.js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/async/dist/async.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/socket.io-client/dist/socket.io.js"></script>
    <!--  -->
    <script src="scripts/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="scripts/plugins/pace/pace.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="scripts/plugins/flot/jquery.flot.js"></script>
    <script src="scripts/plugins/flot/jquery.flot.time.js"></script>
    <script src="scripts/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="scripts/plugins/flot/jquery.flot.spline.js"></script>
    <script src="scripts/plugins/flot/jquery.flot.resize.js"></script>
    <script src="scripts/plugins/flot/jquery.flot.pie.js"></script>
    <script src="scripts/plugins/flot/curvedLines.js"></script>

    <script src="scripts/plugins/chartJs/Chart.min.js"></script>

    <script src="scripts/plugins/peity/jquery.peity.min.js"></script>

    <script src="scripts/plugins/dropzone/dropzone.js"></script>

    <script src="scripts/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="scripts/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

    <script src="scripts/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="scripts/plugins/iCheck/icheck.min.js"></script>
    <script src="scripts/plugins/summernote/summernote.min.js"></script>
    <script src="scripts/plugins/codemirror/codemirror.js"></script>
    <!--  -->

    <!--  -->
    <script src="scripts/inspinia.js"></script>
    <!--
        *
        *
        ANGULAR LIBRARY
        *
        *-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-ui-router/release/stateEvents.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/restangular/dist/restangular.min.js"></script>
    <script src="bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script src="bower_components/ng-table-bundle/ng-table.min.js"></script>
    <script src="bower_components/ng-dialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="bower_components/angular-jwt/dist/angular-jwt.min.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.min.js"></script>
    <script src="bower_components/angular-socket-io/socket.min.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.min.js"></script>
    <!--  -->
    <script src="scripts/plugins/angular-idle/angular-idle.js"></script>
    <script src="scripts/plugins/flot/angular-flot.js"></script>
    <script src="scripts/plugins/peity/angular-peity.js"></script>
    <script src="scripts/bootstrap/angular-bootstrap-checkbox.js"></script>
    <script src="scripts/plugins/chartJs/angles.js"></script>
    <script src="scripts/plugins/summernote/angular-summernote.min.js"></script>
    <!-- endbuild -->
    <!--
        *
        *
        *
        *
        *
        ANGULAR
        *
        *
        *
        *
        *-->
    <!-- build:js1 js/app.min.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/app.config.js"></script>
    <script src="scripts/app.run.js"></script>
    <!-- CONTROLLERS -->
    <script src="scripts/app.directive.js"></script>
    <script src="scripts/app.controller.js"></script>
    <script src="scripts/app.interceptor.js"></script>
    <!-- MODULES-->
    <script src="modules/common/common.js"></script>
    <script src="modules/main.controller.js"></script>
    <!--  -->
    <script src="modules/login/login.js"></script>
    <script src="modules/login/login.controller.js"></script>
    <!--  -->
    <script src="modules/forgot_password/forgot.js"></script>
    <script src="modules/forgot_password/forgot.controller.js"></script>
    <!--  -->
    <script src="modules/category/category.js"></script>
    <script src="modules/category/category.controller.js"></script>
    <script src="modules/category/category.modal.controller.js"></script>
    <script src="modules/category/subcategory/subcategory.controller.js"></script>
    <script src="modules/category/subcategory/subcategory.modal.controller.js"></script>
    <!--  -->
    <script src="modules/brands/brands.js"></script>
    <script src="modules/brands/brand.controller.js"></script>
    <script src="modules/brands/brand.modal.controller.js"></script>
    <!--  -->
    <script src="modules/banks/banks.js"></script>
    <script src="modules/banks/banks.controller.js"></script>
    <script src="modules/banks/banks.modal.controller.js"></script>
    <!--  -->
    <script src="modules/mobiles/banners/banners.js"></script>
    <script src="modules/mobiles/banners/banners.controller.js"></script>
    <script src="modules/mobiles/banners/banners.modal.controller.js"></script>
    <script src="modules/mobiles/contents/contents.js"></script>
    <script src="modules/mobiles/contents/contents.controller.js"></script>
    <script src="modules/mobiles/contents/contents.compose.controller.js"></script>
    <!--  -->
    <script src="modules/courier/courier.js"></script>
    <script src="modules/courier/courier.controller.js"></script>
    <script src="modules/courier/courier.modal.controller.js"></script>
    <!--  -->
    <script src="modules/payment_provider/provider.js"></script>
    <script src="modules/payment_provider/provider.controller.js"></script>
    <script src="modules/payment_provider/provider.modal.controller.js"></script>
    <!--  -->
    <script src="modules/sellers/sellers.js"></script>
    <script src="modules/sellers/sellers.controller.js"></script>
    <script src="modules/sellers/sellers.modal.controller.js"></script>
    <script src="modules/sellers/sellers.evaluation.controller.js"></script>
    <!--  -->
    <script src="modules/buyers/buyers.js"></script>
    <script src="modules/buyers/buyers.controller.js"></script>
    <script src="modules/buyers/buyers.modal.controller.js"></script>
    <!--  -->
    <script src="modules/activity_stream/activity.js"></script>
    <script src="modules/activity_stream/activity.controller.js"></script>
    <!--  -->
    <script src="modules/helpcenter/help.js"></script>
    <script src="modules/helpcenter/help.controller.js"></script>
    <!--  -->
    <script src="modules/newsletter/newsletter.js"></script>
    <script src="modules/newsletter/newsletter.controller.js"></script>
    <!--  -->
    <script src="modules/pushnotifications/pushnotif.js"></script>
    <script src="modules/pushnotifications/notification.controller.js"></script>
    <!--  -->
    <script src="modules/orders/orders.js"></script>
    <script src="modules/orders/orders.controller.js"></script>
    <script src="modules/orders/order.shipping.controller.js"></script>
    <!--  -->
    <script src="modules/shipping/shipping.js"></script>
    <script src="modules/shipping/shipping.controller.js"></script>
    <script src="modules/shipping/shipping.details.controller.js"></script>
    <!--  -->
    <script src="modules/officialshops/shops.js"></script>
    <script src="modules/officialshops/shops.controller.js"></script>
    <script src="modules/officialshops/shops.evaluation.controller.js"></script>
    <script src="modules/officialshops/shops.evaluation.contact.controller.js"></script>
    <!-- endbuild -->
</body>

</html>