<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Activity stream</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li class="active">
                <strong>Activity stream</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">

    <div class="row">
        <div class="col-lg-5">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Expended activity stream</h5>
                </div>

                <div class="ibox-content">

                    <div class="activity-stream">
                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="#">
                                        <img src="images/a5.jpg" />
                                        <span>Karen Miggel</span>
                                        <span class="date">Today at 01:32:40 am</span>
                                    </a>
                                </div>
                                Add new note to the <a href="#">Martex</a>  project.
                            </div>
                        </div>

                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-commenting-o"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="#">
                                        <img src="images/a4.jpg" />
                                        <span>John Mikkens</span>
                                        <span class="date">Yesterday at 10:00:20 am</span>
                                    </a>
                                </div>
                                Commented on <a href="#">Ariana</a> profile.
                            </div>
                        </div>
                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="#">
                                        <img src="images/a2.jpg" />
                                        <img src="images/a3.jpg" />
                                        <img src="images/a4.jpg" />
                                        <span>Mike Johnson, Monica Smith and Karen Dortmund</span>
                                        <span class="date">Yesterday at 02:13:20 am</span>
                                    </a>
                                </div>
                                Changed status of third stage in the <a href="#">Vertex</a> project.
                            </div>
                        </div>
                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="#">
                                        <img src="images/a6.jpg" />
                                        <span>Jessica Smith</span>
                                        <span class="date">Yesterday at 08:14:41 am</span>
                                    </a>
                                </div>
                                Add new files to own file sharing place.
                            </div>
                        </div>
                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-send bg-primary"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="#">
                                        <img src="images/a7.jpg" />
                                        <img src="images/a1.jpg" />
                                        <span>Martha Farter and Mike Rodgers</span>
                                        <span class="date">Yesterday at 04:18:13 am</span>
                                    </a>
                                </div>
                                Sent email to all users participating in new project.
                            </div>
                        </div>
                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-tag bg-warning"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="#">
                                        <img src="images/a7.jpg" />
                                        <span>Mark Mickens</span>
                                        <span class="date">Yesterday at 06:00:30 am</span>
                                    </a>
                                </div>
                                Has been taged in the latest comments about the new project.
                            </div>
                        </div>
                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="#">
                                        <img src="images/a8.jpg" />
                                        <span>Mike Johnson</span>
                                        <span class="date">Yesterday at 02:13:20 am</span>
                                    </a>
                                </div>
                                Changed status of second stage in the latest project.
                            </div>
                        </div>
                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="#">
                                        <img src="images/a1.jpg" />
                                        <span>Jessica Smith</span>
                                        <span class="date">Yesterday at 08:14:41 am</span>
                                    </a>
                                </div>
                                Add new files to own file sharing place.
                            </div>
                        </div>
                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="#">
                                        <img src="images/a6.jpg" />
                                        <span>Jessica Smith</span>
                                        <span class="date">Yesterday at 08:14:41 am</span>
                                    </a>
                                </div>
                                Add new files to own file sharing place.
                            </div>
                        </div>
                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-send"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="#">
                                        <img src="images/a7.jpg" />
                                        <span>Martha Farter</span>
                                        <span class="date">Yesterday at 04:18:13 am</span>
                                    </a>
                                </div>
                                Sent email to all users participating in new project.
                            </div>
                        </div>
                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-sliders bg-success"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="#">
                                        <img src="images/a2.jpg" />
                                        <span>Mark Mickens</span>
                                        <span class="date">Yesterday at 06:00:30 am</span>
                                    </a>
                                </div>
                                Has been taged in the latest comments about the new project.
                            </div>
                        </div>
                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="#">
                                        <img src="images/a8.jpg" />
                                        <span>Mike Johnson</span>
                                        <span class="date">Yesterday at 02:13:20 am</span>
                                    </a>
                                </div>
                                Changed status of second stage in the latest project.
                            </div>
                        </div>
                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="#">
                                        <img src="images/a1.jpg" />
                                        <span>Jessica Smith</span>
                                        <span class="date">Yesterday at 08:14:41 am</span>
                                    </a>
                                </div>
                                Add new files to own file sharing place.
                            </div>
                        </div>
                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="#">
                                        <img src="images/a5.jpg" />
                                        <img src="images/a2.jpg" />
                                        <span>Karen Johnson and Sasha Miggel</span>
                                        <span class="date">Today at 01:32:40 am</span>
                                    </a>
                                </div>
                                Add new note to the <a href="#">Martex</a>  project.
                            </div>
                        </div>

                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-commenting-o"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="#">
                                        <img src="images/a4.jpg" />
                                        <span>John Mikkens</span>
                                        <span class="date">Yesterday at 10:00:20 am</span>
                                    </a>
                                </div>
                                Commented on <a href="#">Ariana</a> profile.
                            </div>
                        </div>
                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="#">
                                        <img src="images/a2.jpg" />
                                        <span>Mike Johnson</span>
                                        <span class="date">Yesterday at 02:13:20 am</span>
                                    </a>
                                </div>
                                Changed status of third stage in the <a href="#">Vertex</a> project.
                            </div>
                        </div>

                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="#">
                                        <img src="images/a6.jpg" />
                                        <span>Jessica Smith</span>
                                        <span class="date">Yesterday at 08:14:41 am</span>
                                    </a>
                                </div>
                                Add new files to own file sharing place.

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Basic activity stream</h5>
                </div>

                <div class="ibox-content">

                    <div class="stream-small">
                        <span class="label label-primary"> Add</span>
                        <span class="text-muted"> Today at 10:30:50 pm </span> / <a href="#">Mike Smith</a>  Added new contact to the user group
                    </div>
                    <div class="stream-small">
                        <span class="label label-success"> Comment</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>
                    <div class="stream-small">
                        <span class="label label-success"> Comment</span>
                        <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-success"> Comment</span>
                        <span class="text-muted"> Today at 11:43:59 am </span> / <a href="#">Jessica Smith</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-primary"> Add</span>
                        <span class="text-muted"> Yesterday at 10:02:33 pm </span> / <a href="#">Camila Farter</a> Added new file to project.
                    </div>
                    <div class="stream-small">
                        <span class="label label-warning"> Activity</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">John Dernex</a>  Add new item to stage zero.
                    </div>
                    <div class="stream-small">
                        <span class="label label-warning"> Activity</span>
                        <span class="text-muted"> Yesterday at 10:32:12 am </span> / <a href="#">Andrew Williams</a>  Joined to the new group.
                    </div>
                    <div class="stream-small">
                        <span class="label label-warning"> Activity</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>
                    <div class="stream-small">
                        <span class="label label-warning"> Activity</span>
                        <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 11:43:59 am </span> / <a href="#">Jessica Smith</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">John Dernex</a>  Add new item to stage zero.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Yesterday at 10:32:12 am </span> / <a href="#">Andrew Williams</a>  Joined to the new group.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">John Dernex</a>  Add new item to stage zero.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Yesterday at 10:32:12 am </span> / <a href="#">Andrew Williams</a>  Joined to the new group.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-success"> Comment</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>
                    <div class="stream-small">
                        <span class="label label-success"> Comment</span>
                        <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-success"> Comment</span>
                        <span class="text-muted"> Today at 11:43:59 am </span> / <a href="#">Jessica Smith</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-warning"> Activity</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">John Dernex</a>  Add new item to stage zero.
                    </div>
                    <div class="stream-small">
                        <span class="label label-warning"> Activity</span>
                        <span class="text-muted"> Yesterday at 10:32:12 am </span> / <a href="#">Andrew Williams</a>  Joined to the new group.
                    </div>
                    <div class="stream-small">
                        <span class="label label-warning"> Activity</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>
                    <div class="stream-small">
                        <span class="label label-warning"> Activity</span>
                        <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 11:43:59 am </span> / <a href="#">Jessica Smith</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">John Dernex</a>  Add new item to stage zero.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Yesterday at 10:32:12 am </span> / <a href="#">Andrew Williams</a>  Joined to the new group.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
