<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Article</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li>
                <a ui-sref="app.newsletters">Newsletter</a>
            </li>
            <li class="active">
                <strong>Article</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="pull-right">
                        <a ui-sref="app.updatenews({cmsId: content.cmsId})" class="btn btn-primary"><i class="fa fa-pencil"></i> Update</a>
                        <a class="btn btn-primary" ng-click="publish()"> <i class="fa fa-check"></i> Publish</a>
                        <a class="btn btn-danger" ng-click="pushNotify()"> <i class="fa fa-bell"></i> Notify to all</a>
                        <a class="btn btn-danger" ng-click="emailNotify()"> <i class="fa fa-envelope"></i> Email to all</a>
                    </div>
                    <div class="text-center article-title">
                        <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Oct 2015</span>
                        <h1>
                            {{content.title}}
                        </h1>
                    </div>
                    <p ng-bind-html="content.content"></p>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" ng-repeat="tag in content.tags">{{tag}}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <i class="fa fa-eye"> </i> 144 views
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>