<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Newsletter</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li>
                <a ui-sref="app.newsletters">Newsletter</a>
            </li>
            <li class="active">
                <strong>Compose</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="mail-box-header">
                <div class="pull-right tooltip-demo">
                    <a class="btn btn-sm btn-primary" uib-tooltip="Save" ng-click="save()" ng-disabled="isSaving">
                        <i class="fa fa-reply" ng-if="!isSaving"></i> 
                        <i class="fa fa-spinner fa-spin" ng-if="isSaving"></i>
                        Save
                    </a>
                    <a class="btn btn-danger btn-sm" uib-tooltip="Publish"><i class="fa fa-check"></i> Publish</a>
                    <a class="btn btn-white btn-sm" uib-tooltip="Un-Publish"><i class="fa fa-times"></i> Un-Publish</a>
                </div>
                <h2>
                    Compose Newsletter
                </h2>
            </div>
            <div class="mail-box">
                <form class="form-horizontal" method="get">
                    <div class="mail-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Title:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="content.title">
                            </div>
                        </div>
                    </div>
                    <div class="mail-text h-200">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Summary:</label>
                            <div class="col-sm-10">
                                <div summernote class="summernote" ng-model="content.summary">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="mail-text h-200">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Content:</label>
                            <div class="col-sm-10">
                                <div summernote class="summernote" ng-model="content.content">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="mail-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Type:</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="content.type" ng-options="notif.notifTypeId as notif.name for notif in notiftype">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mail-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tags:</label>
                            <div class="col-sm-10">
                                <tags-input ng-model="content.tags">
                                    <auto-complete source="loadTags($query)"></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="mail-body text-right tooltip-demo">
                    <a class="btn btn-sm btn-primary" uib-tooltip="Save" ng-click="save()" ng-disabled="isSaving">
                        <i class="fa fa-reply" ng-if="!isSaving"></i> 
                        <i class="fa fa-spinner fa-spin" ng-if="isSaving"></i>
                        Save
                    </a>
                    <a class="btn btn-danger btn-sm" uib-tooltip="Publish"><i class="fa fa-check"></i> Publish</a>
                    <a class="btn btn-white btn-sm" uib-tooltip="Un-Publish"><i class="fa fa-times"></i> Un-Publish</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>