<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Newsletter</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li class="active">
                <strong>Newsletter</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight blog">
    <div class="row">
        <div class="col-sm-9 m-b-xs">
            <div data-toggle="buttons">
                <a class="btn btn-sm btn-primary" ng-click="composeNewsletter()"> Compose </a>
                <a class="btn btn-sm btn-info" ng-click="refresh()"> Refresh </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4" ng-repeat="item in newsletters">
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.newsletter_detail({cmsId: item.cmsId})" class="btn-link">
                        <h2>{{item.title}}</h2>
                    </a>
                    <a class="btn btn-danger btn-xs pull-right" ng-click="deleteNews(item.cmsId)">Delete</a>
                    <div class="small m-b-xs">
                        <strong>{{item.created_by}}</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> {{item.date_created | date: 'dd-MMM-yyyy'}}</span>
                    </div>
                    <p ng-bind-html="item.summary"></p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <a class="btn btn-primary btn-xs" ng-repeat="tag in item.tags">{{tag}}</a>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <div> <i class="fa fa-eye"> </i> 0 views </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>