<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Category</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li class="active">
                <strong>Category</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Category</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">
                                <div data-toggle="buttons">
                                    <a class="btn btn-sm btn-primary" ng-click="addCategory()"> Add </a>
                                    <a class="btn btn-sm btn-info" ng-click="refresh()"> Refresh </a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" placeholder="Search" class="input-sm form-control" ng-model="dataSearch" ng-keypress="($event.which === 13)?refresh():0" ng-change="(dataSearch.length < 1)?refresh():0"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary" ng-click="refresh()"> Go!</button> </span></div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table ng-table="tableParams" class="table table-striped">
                                <tr ng-repeat="category in $data">
                                    <td title="'Image'" sortable="'image'">
                                        <img ng-src="{{category.img_path || '../images/icon-no-image.svg'}}" onerror="this.src='../images/icon-no-image.svg'" width="60px" height="60px" class="img-thumbnail">
                                    </td>
                                    <td title="'Name'" sortable="'name'">{{category.name}}</td>
                                    <td title="''" class="pull-right">
                                        <a class="btn btn-xs btn-default" uib-tooltip="Update" ng-click="updateCategory(category)">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn btn-xs btn-default" uib-tooltip="Add Sub-category" ng-click="addSubCategory(category)">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <a class="btn btn-xs btn-default" uib-tooltip="View Sub-category" ng-click="viewSubCategory(category)">
                                            <i class="fa fa-list-ul"></i>
                                        </a>
                                        <a class="btn btn-xs btn-danger" uib-tooltip="Delete" ng-click="deleteSelected(category)">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
