<div class="ngdialog-message">
    <h3>{{modal.title}}</h3>
    <p>{{modal.message}}</p><br>
    <p>
        Please enter a valid reason to deny this transaction
    </p>
    <textarea class="form-control" rows="3" ng-model="confirmValue"></textarea>
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(confirmValue)">Confirm</button>
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">Cancel</button>
</div>