<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Bank Entry</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                <input type="text" placeholder="Name" class="form-control" ng-model="bank.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Address</label>
            <div class="col-lg-10">
                <textarea placeholder="Address" row="8" class="form-control" ng-model="bank.address"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Suburb</label>
            <div class="col-lg-10">
                <input type="text" placeholder="Suburb" class="form-control" ng-model="bank.suburb">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">City</label>
            <div class="col-lg-10">
                <input type="text" placeholder="City" class="form-control" ng-model="bank.city">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">State</label>
            <div class="col-lg-10">
                <input type="text" placeholder="State" class="form-control" ng-model="bank.state">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Zip Code</label>
            <div class="col-lg-10">
                <input type="text" placeholder="Zip Code" class="form-control" ng-model="bank.zipcode">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Country</label>
            <div class="col-lg-10">
                <!-- <input type="text" placeholder="Country" class="form-control"> -->
                <select class="form-control" placeholder="Country" ng-model="bank.country" ng-options="opt.code as opt.name for opt in countries"></select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()"><i class="fa fa-spinner fa-spin" ng-if="isSaving"></i> Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>