<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Sellers</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li class="active">
                <strong>Sellers</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Applicants</h3>
                        <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>
                        <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-model="applicantsList" ui-sortable-receive="applicantsOnReceived">
                            <li class="{{task.statusClass}}-element" ng-repeat="task in applicantsList">
                                <div ng-bind-html="task.content"></div>
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                                    <i class="fa fa-clock-o"></i> {{task.date | amDateFormat:'MM-DD-YYYY HH:mm:ss'}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>In Review</h3>
                        <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>
                        <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-model="inReviewList" ui-sortable-receive="inReviewOnReceived">
                            <li class="{{task.statusClass}}-element" ng-repeat="task in inReviewList">
                                <div ng-bind-html="task.content"></div>
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                                    <i class="fa fa-clock-o"></i> {{task.date | amDateFormat:'MM-DD-YYYY HH:mm:ss'}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>In Progress</h3>
                        <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>
                        <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-model="inProgressList" ui-sortable-receive="inProgressOnReceived">
                            <li class="{{task.statusClass}}-element" ng-repeat="task in inProgressList">
                                <div ng-bind-html="task.content"></div>
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                                    <i class="fa fa-clock-o"></i> {{task.date | amDateFormat:'MM-DD-YYYY HH:mm:ss'}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Completed</h3>
                        <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>
                        <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-model="completedList" ui-sortable-receive="completedOnReceived">
                            <li class="{{task.statusClass}}-element" ng-repeat="task in completedList">
                                <div ng-bind-html="task.content"></div>
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                                    <i class="fa fa-clock-o"></i> {{task.date | amDateFormat:'MM-DD-YYYY HH:mm:ss'}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>