<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Compose Mail</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li>
                <a ui-sref="help.helpcentre">Help Centre</a>
            </li>
            <li class="active">
                <strong>Create Post</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="mail-box-header">
                <h2>
                    Create Post
                </h2>
            </div>
            <div class="mail-box">
                <div class="mail-body">
                    <form class="form-horizontal" method="get">
                        <div class="form-group"><label class="col-sm-2 control-label">Category:</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="helpObj.categoryId" ng-options="categ.categoryId as categ.name for categ in categories">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Title:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="helpObj.title">
                            </div>
                        </div>
                    </form>

                </div>

                <div class="mail-text h-200">

                    <div summernote class="summernote"  ng-model="helpObj.content">
                        <h3>Hello Jonathan! </h3>
                        dummy text of the printing and typesetting industry. <strong>Lorem Ipsum has been the industry's</strong> standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                        <br/>
                        <br/>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="mail-body text-right tooltip-demo">
                    <a href=""  ng-disabled="isSaving" ng-click="savePost()" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Save"><i class="fa fa-save"></i> Save</a>
                    <a ui-sref="help.helpcentre"  ng-disabled="isSaving" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Discard"><i class="fa fa-times"></i> Discard</a>
                </div>
                <div class="clearfix"></div>


            </div>
        </div>
    </div>
</div>
