<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Help Centre</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li class="active">
                Help Centre</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" ui-sref="help.composer">Create</a>
                        <div class="space-25"></div>
                        <h5>Categories</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li ng-repeat="category in categories"><a href=""> <i class="fa fa-circle text-navy"></i> {{category.name}} </a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">
                <form method="get" action="index.html" class="pull-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" name="search" placeholder="Search Topic">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
                <h2>&nbsp;</h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group pull-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
                    </div>
                    <button (click)="loadPosts()" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Refresh</button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Published"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i></button>
                </div>
            </div>
            <div class="mail-box">
                <table class="table table-hover table-mail">
                    <tbody>
                        <tr ng-class="{'unread': post.selected , 'read': !post.selected}" ng-repeat="post in posts">
                            <td class="check-mail">
                                <input icheck type="checkbox" ng-model="post.selected">
                            </td>
                            <td class="mail-ontact"><a ui-sref="help.preview({postId: post.postId})">{{post.category_name}}</a></td>
                            <td class="mail-subject"><a ui-sref="help.preview{postId: post.postId}">{{post.title}}</a></td>
                            <td class="">
                                <span class="label label-warning pull-right" ng-if="post.isPublished == 0">Draft</span>
                                <span class="label label-primary pull-right" ng-if="post.isPublished == 1">Published</span>
                            </td>
                            <td class="text-right mail-date">{{post.post_created | date: 'short'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>