<div class="row wrapper border-bottom white-bg page-heading">
     <div class="col-lg-10">
        <h2>Preview</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li>
                <a ui-sref="help.helpcentre">Help Centre</a>
            </li>
            <li class="active">
                <strong>Preview</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="pull-right">
                        <a ui-sref="app.updatenews({cmsId: helpObj.postId})" class="btn btn-primary"><i class="fa fa-pencil"></i> Update</a>
                    </div>
                    <div class="text-center article-title">
                        <span class="text-muted"><i class="fa fa-clock-o"></i> {{helpObj.post_created | date: 'short'}}</span>
                        <h1>
                            {{helpObj.title}}
                        </h1>
                    </div>
                    <p ng-bind-html="helpObj.content"></p>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" ng-repeat="tag in helpObj.tags">{{tag}}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <i class="fa fa-eye"> </i> 144 views
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>