<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Courier Entry</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                <input type="text" placeholder="Name" class="form-control" ng-model="courier.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
                <input type="text" placeholder="Description" class="form-control" ng-model="courier.description">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Slug</label>
            <div class="col-lg-10">
                <input type="text" placeholder="Slug" class="form-control" ng-model="courier.slug">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Phone Number</label>
            <div class="col-lg-10">
                <input type="text" placeholder="Phone No." class="form-control" ng-model="courier.phone">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Website</label>
            <div class="col-lg-10">
                <input type="text" placeholder="Website" class="form-control" ng-model="courier.web_url">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>