<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Mobile Banners</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li class="active">
                <strong>Mobile Banners</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Mobile Banners</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">
                                <div data-toggle="buttons">
                                    <a class="btn btn-sm btn-primary" ng-click="addBanner()"> Add </a>
                                    <a class="btn btn-sm btn-info" ng-click="refresh()"> Refresh </a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table ng-table="tableParams" class="table table-striped">
                                <tr ng-repeat="category in $data">
                                    <td title="'Image'" sortable="'image'">
                                        <img ng-src="{{category.img_path || '../images/icon-no-image.svg'}}" onerror="this.src='images/banner_def.png'" class="img-responsive" width="200px">
                                    </td>
                                    <td title="'Name'" sortable="'name'">{{category.name}}</td>
                                    <!-- <td title="'Sort Order'">
                                        <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                            <button id="btn-append-to-body" type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle>
                                                1 <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                                <li role="menuitem"><a href="#">2</a></li>
                                                <li role="menuitem"><a href="#">3</a></li>
                                                <li role="menuitem"><a href="#">4</a></li>
                                                <li role="menuitem"><a href="#">5</a></li>
                                                <li role="menuitem"><a href="#">6</a></li>
                                            </ul>
                                        </div>
                                    </td> -->
                                    <td title="'Publish'">
                                        <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                            <button id="btn-append-to-body" type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle>
                                                {{category.isPublished == 1 ? 'Publish' : 'Un-Publish'}} <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                                <li role="menuitem"><a href="" ng-click="publishBanner('publish',category)">Publish</a></li>
                                                <li role="menuitem"><a href="" ng-click="publishBanner('unpublish',category)">Un-Publish</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td title="''" class="pull-right">
                                        <a class="btn btn-sm btn-default" uib-tooltip="Update" ng-click="updateBanner(category)">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn btn-sm btn-danger" uib-tooltip="Delete" ng-click="deleteBanner(category)">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>