<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Mobile Contents</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.dashboard_1">Home</a>
            </li>
            <li class="active">
                <strong>Mobile Contents</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight blog">
    <div class="row">
        <div class="col-sm-9 m-b-xs">
            <div data-toggle="buttons">
                <a class="btn btn-sm btn-primary" ng-click="composeNewsletter()"> Compose </a>
                <a class="btn btn-sm btn-info"> Refresh </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox" ng-repeat="content in contents">
                <div class="ibox-content">
                    <a ui-sref="app.articles" class="btn-link">
                        <h2>
                            {{content.title}}
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Adam Novak</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> {{content.date_created | date:mediumDate}}</span>
                    </div>
                    <p ng-bind-html="content.summary"></p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Model</button>
                            <button class="btn btn-white btn-xs" type="button">Publishing</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>